@use "../../global-sass/mixin.scss" as *;

.main-container {
	padding-bottom: 80px;
}
.wrapper-content-plan {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Mui-checked + .MuiFormControlLabel-label {
	.plan-select {
		border: 2px solid black;
	}
}

.text-content-plan {
	max-width: 544px;
	text-align: center;
	width: 100%;
	h2 {
		margin: 0;
	}
}
.plan-select {
	border-radius: 24px;
	// margin: 32px 16px 20px;
	padding: 40px 24px;
	box-shadow: 0px 1px 32px 0px rgba(174, 172, 243, 0.35);
	max-width: 256px;
	width: 100%;
	&-title {
		@include LatoSans(black);
		font-size: 20px;
	}
	p {
		font-size: 12px;
		margin-bottom: 0;
		@include LatoSans();
	}
}
.wrapper-plan-selected {
	.MuiRadioGroup-root {
		flex-direction: row;
	}
	display: flex;
	.MuiFormControlLabel-labelPlacementEnd {
		margin: 32px 16px 20px;
		// padding: 40px 24px;
		position: relative;
		max-width: 256px;
		.MuiRadio-root {
			position: absolute;
			top: 7px;
			right: 15px;
		}
	}
}
.wrapper-plans {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.plan {
	border-radius: 24px;
	box-shadow: 0px 1px 32px 0px rgba(174, 172, 243, 0.35);
	margin: 0 16px 32px;
	max-width: 288px;
	padding: 72px 32px 48px;
	position: relative;
	width: 100%;
	&-recommended {
		background: #7df0ba;
		border-radius: 6px;
		font-size: 12px;
		left: 32px;
		padding: 1px 8px 0;
		position: absolute;
		top: 40px;
		@include LatoSans(black);
	}
	&-header {
		@include LatoSans(black);
		border-bottom: 1px solid rgba(215, 219, 245, 1);
		display: flex;
		justify-content: space-between;
		padding-bottom: 24px;
		&-title {
			margin: 0;
			padding-bottom: 22px;
			font-size: 24px;
		}
		&-label {
			font-size: 12px;
			line-height: 16px;
			padding-bottom: 4px;
			text-transform: uppercase;
			@include grayRimac();
		}
		&-price {
			line-height: 28px;
			font-size: 20px;
		}
	}
	&-group-top {
		width: 152px;
	}
	&-description {
		padding: 24px 0 16px;
		ul {
			margin: 0;
			padding: 0;
		}
		&-item {
			margin-left: 18px;
			margin-bottom: 24px;
			font-size: 16px;
			line-height: 28px;
			list-style-type: disc;
		}
	}
	&-action {
		.btn {
			padding: 12px 20px;
			max-width: 100%;
			width: 100%;
		}
	}
}
@media (max-width: 615px) {
	.wrapper-content-plan {
		align-items: start;
		padding-top: 32px;
		overflow: hidden;
	}
	.text-content-plan {
		font-size: 16px;
	}
	.wrapper-plan-selected .MuiFormControlLabel-labelPlacementEnd,
	.plan-select {
		max-width: 100%;
		width: 100%;
		.MuiFormControlLabel-label {
			width: 100%;
		}
	}
	.group-top-plan-selected {
		display: flex;
		align-items: center;
	}
	.plan-select-title {
		padding-left: 8px;
	}
	.plan {
		min-width: 288px;
	}
	.wrapper-plans {
		flex-wrap: nowrap;
		justify-content: flex-start;
		overflow-x: auto;
		padding-top: 32px;
		width: 100%;
	}
}
