@use "normalize";
@use "mixin" as *;
@use "variables" as *;

*,
::after,
::before {
	box-sizing: border-box;
}
body {
	@include LatoSans();
	@include blackRimac();
	font-size: 14px;
	line-height: 20px;
}
h2 {
	font-size: 40px;
	line-height: 48px;
	@include LatoSans(bold);
}
button {
	cursor: pointer;
}
figure {
	margin: 0;
}
dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 1rem;
	list-style-type: none;
}
ol,
ul {
	padding-left: 2rem;
}
a {
	color: inherit;
	text-decoration: none;
	&:hover,
	&:active,
	&:focus {
		text-decoration: underline;
	}
}
main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.main-container {
	display: flex;
	margin: 0 auto;
	max-width: 1120px;
	min-height: 100vh;
	width: 100%;
}
.purchase {
	display: flex;
	align-items: center;
	&-text {
		font-size: 12px;
		@include Raleway(semibold);
	}
}
.by-calling {
	align-items: center;
	color: inherit;
	display: flex;
	font-size: 15px;
	margin-left: 25px;
	text-decoration: none;
	@include Raleway(bold);
}
.is-mobile {
	display: none;
}
.is-home {
	.btn {
		@include bgBlackHome();
		@include brSonoma(bold);
		font-size: 20px;
	}
	footer {
		@include bgBlackHome();
		color: white;
	}
}
.text-large {
	font-size: 36px;
	line-height: 48px;
}

.text-red,
.text-change {
	@include redRimac();
}

.row-form {
	display: flex;
	margin-bottom: 16px;
	// align-items: end;
}

.group-btn {
	padding: 24px 0;
}

.btn {
	@include redRimac();
	@include LatoSans(bold);
	color: white;
	background: rgba(255, 28, 68, 1);
	border: none;
	font-size: 18px;
	border-radius: 32px;
	max-width: 192px;
	padding: 20px;
	width: 100%;
	position: relative;
	min-height: 48px;
	.loading {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		margin-left: -20px;
	}
	&.middle {
		padding: 15px 20px;
	}
	&:disabled {
		background-color: #494f66;
		cursor: not-allowed;
	}
}

.back {
	@include LatoSans(bold);
	font-size: 18px;
	padding: 40px 0 56px 96px;
	a {
		@include blueRimac();
		display: inline-flex;
		align-items: center;
		img {
			padding-right: 8px;
		}
	}
}

@media (max-width: 1023px) {
	.is-mobile {
		display: inline-block;
	}
	.is-desktop {
		display: none;
	}
}
.upper {
	text-transform: uppercase;
}

@media (max-width: 615px) {
	.text-change {
		color: inherit;
	}
	.main-container {
		flex-direction: column;
	}

	footer {
		margin-top: 0;
	}
}
