$red-rimac: #ff1c44;
$blue-rimac: #4f4fff;
$gray-rimac: #7981b2;
$black-rimac: #141938;
$black-home: #03050f;

$RalewaySans: (
	light: 300,
	regular: 400,
	medium: 500,
	semibold: 600,
	bold: 700,
);
$latoSans: (
	regular: 400,
	bold: 700,
	black: 900,
);
